.container {
    max-width: $container + 20px * 2;
    padding: 0 20px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.hm_btn {
    color: #ffffff;
    height: 45px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    padding: 12px 41px;
    border-radius: 0px;
    position: relative;
    overflow: hidden;
    border: 1px solid #9b2521;
    z-index: 1;
    transition: ease 0.35s all;
}

.constructor {

    &__inner {
        justify-content: space-between;
        padding: 60px 0 100px;
    }

    &__choice {
        width: 600px / $container * 100%;
        background-color: $gray;
        border-radius: 3px;
        padding: 30px 10px;
        flex-direction: column;
        align-items: center;
    }

    &__view {
        width: 810px / $container * 100%;
    }

    &__actions {
        justify-content: space-between;
        align-items: center;
    }

    &__btn {
        display: inline-block;
        width: 210px;
        height: 50px;
        padding: 15px 32px;
    }

    &__btn+&__btn {
        margin-left: 20px;
    }
}

.choice {

    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        margin-bottom: 31px;
    }

    &__tabs {
        //width: 475px;
        margin-bottom: 27px;
    }

    &__tab {
        display: inline-block;
        padding: 9px 10px;
        font-size: 16px;
        line-height: 21px;
        color: $accent;

        &--active {
            background-color: $accent;
            border-radius: 3px;
            color: #fff;
        }
    }

    &__tab+&__tab {
        margin-left: 22px;
    }

    &__items {
        display: grid;
        grid-template: repeat(3, 1fr);
        grid-gap: 20px;
    }
}

.choice-item {

    &__color-name {
        font-size: 16px;
        line-height: 19px;
        color: #484848;
        margin-bottom: 5px;
    }

    &__color {
        width: 100%;
        height: 47px;
        margin-bottom: 3px;
    }

    &__counter {
        justify-content: space-between;
        height: 30px;
    }

    &__counter-item {
        border: 1px solid $gray;
    }

    &__counter-input {
        width: 94px / 180px * 100%;
        height: 100%;
    }

    &__counter-btn {
        width: 40px / 180px * 100%;
        height: 100%;
    }
}